<div class="row">
    <div class="col-md-6 m-auto">

        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Create Account</p>

        <form action="/signup" method="post">

            <div class="form-group">
                <label>Your Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name" />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="Email" placeholder="Enter Email" />
            </div>

            <div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" name="Password" placeholder="Enter Password" />
            </div>
            <a href="/login">Already have an account?</a>
            <button type="submit" class="btn btn-primary float-right">Register</button>


        </form>

    </div>
</div>